
*.dat
OpenSyno/_ReSharper.OpenSyno/
OpenSyno/OpenSyno.SynoWP7/Bin/*.*
bin/
obj/
OpenSyno/OpenSyno.suo
OpenSyno/OpenSyno.5.1.ReSharper.user
OpenSyno/MediaParsers.Desktop/
OpenSyno/MediaParsers.Phone
OpenSyno/Mp3MediaStreamSource.Phone/
OpenSyno/Mp3MediaStreamSource.SL4/
OpenSyno/OpenSyno.SynoWP7/Bin/
OpenSyno/OpenSyno/Bin/